.App {
  text-align: center;
}

.App-header {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 4px 5px rgb(200, 200, 200);
  background-color: rgb(47, 63, 71);
  height: 170px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
